
body {
    font-family: "Open Sans", sans-serif;
    background-color: #b3b3b3;
    margin: 0 auto;
}
.formulario{
	padding-top: 0rem;

}
.formulario_label {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
.formulario_grupo-input {
	position: relative;
  margin: 1%;
}
/*campos de datos*/
.formulario_input {
	width: 100%;
  height: 15%;
  background: #ffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 0%;
  font-family: 'Merienda One';
  font-size: 18px;
  color: black;
}

.formulario_mensaje p {
	margin: 0;
}
.formulario_input:focus {
	border: 3px solid #b3b3b3;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
a{
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	font: inherit;
	margin: 0;
	appearance: auto;
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: #000000;
	letter-spacing: 10px;
	word-spacing: 5;
	line-height: 40px;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: #000000;
	border-image: initial;
    background: #f9dc16;
}
.formulario_input-error {
	font-size: 95%;
	margin-bottom: 0;
	display: none;
  font-family: 'Merienda One';
  color: #bb2929;
}

.formulario_input-error-activo {
	display: block;
}
.formulario_input-error2{
	font-size: 95%;
	margin-bottom: 0;
	display: none;
  font-family: 'Merienda One';
  color: #bb2929;
}
.formulario_input-error-activo2 {
	display: block;
}
.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}
.formulario_validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 25%;
	z-index: 100;
	font-size: 25px;
	opacity: 0;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}
.formulario_grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario_btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	margin-bottom: 30px;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	transition: .1s ease all;
	background: #000000;
	color: #ffff;
	font-family: 'Merienda One';
	font-size: 25px;
}

.back_btn{
	height: 45px;
	line-height: 45px;
	width: 30%;
	margin-bottom: 10px;
	margin-top: -5px;
	font-weight: bold;
	border-radius: 30px;
	cursor: pointer;
	transition: .1s ease all;
	background: #000000;
	color: #ffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Merienda One';
	font-size: 25px;
	}

.back_btn:hover{
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);

}

.formulario_btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}
.formulario_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}

#mySidebar{
	display: none;
 }

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario_grupo-terminos,
	.formulario_mensaje,
	.formulario_grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario_btn {
		width: 100%;
		border-radius: 50px ;
	}
}

@media (max-width:991px){

	html{
	   font-size: 55%;
	}
	#leftHeader{
	   display: none;
	 }

	}

	@media screen and (min-width: 990px) {
		#menuMovil {
		  display: none;
		}
	  }
/*estilo original*/
#lechuga {
  display: none;


}
#reloj {
  display: none;
}
#zanahoria {
  display: none;
}
#hamburguesa {
  display: none;

}
body::after {
	content: "";
	/*background:url("https://elviajerofeliz.com/wp-content/uploads/2019/11/Comida-t%C3%ADpica-de-India-_-10-Platos-Imprescindibles.jpg");
	background-repeat: no-repeat;*/
	background-position: center center;
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
  }
body {
  width: 100%;
  height: 100%;
}
/*nombre de los campos*/
.form-register {

  max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
  font-family: 'Merienda One';
  color: #000000;

}

.form-register h4 {
  font-size: 250%;
  margin-bottom: 20px;
  font-family: 'Bungee';
}

/*color de formulario*/
section {
	background-color: #f9dc16;
}


@media screen and (min-height: 1080px) and (min-width: 900px){
  .form-register {

    width: 50%;

  }

}
